 #map {
     height: 400px;
     width: 100%;
 }
 
 h3 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: italic;
     text-align: center;
     padding-right: 20%;
     padding-left: 20%;
     color: white;
 }
 
 body {
     background: rgb(90, 90, 216);
 }
 
 footer {
     text-align: center;
 }
 
 div {
     align-content: center;
     padding-top: 10px;
 }